<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head"></th:block>
    <title>Ingredients</title>
</head>
<body>
    <th:block th:insert="fragments/layout :: header"></th:block>
    <div class="container">
        <div class="row">
                <form th:object="${ingredient}" th:action="@{'/ingredient/save'}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{recipeId}"/>
                    <div class="card-group">
                        <div class="card card-primary">
                            <div class="card-heading bg-info">
                                <h1 class="card-title">Edit Ingredient Information</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Amount:</label>
                                        <input type="number" step="0.01" class="form-control" th:field="*{amount}"/>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Unit Of Measure:</label>
                                        <select class="form-control" th:field="*{uom}">
                                            <option th:each="uom : ${uomList}"
                                                    th:value="${uom.id}"
                                                    th:selected="${uom.id.equals(ingredient.uom.id)}"
                                                    th:text="${uom.description}"></option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <th:block th:insert="fragments/layout :: footer"></th:block>
</body>
</html>