<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head"></th:block>
    <title>Upload Image</title>
</head>
<body>
    <th:block th:insert="fragments/layout :: header"></th:block>
    <div class="container">
        <div class="card-group">
            <div class="card card-primary">
                <div class="card-header bg-info">
                    <h1 class="card-title">Upload a new recipe image</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <form th:action="@{'/file/' + ${recipe.getId()} + '/image'}" method="post"
                                  enctype="multipart/form-data">
                                <input id="imagefile" name="imagefile" type="file" class="file" accept="image/*">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <th:block th:insert="fragments/layout :: footer"></th:block>
</body>
</html>