<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head"></th:block>
    <title th:text="${response}"></title>
    <style>
        .text-center {
            top:50%;
            left: 50%;
            transform: translate3d(-50%,-50%, 0);
            position: absolute;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 th:text="${response}"></h1>
        <p th:text="${message}"></p>
        <a th:href="@{/index}" class="btn btn-primary">HOME PAGE</a>
    </div>
</body>
</html>