<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
    <table class="table" th:if="${not #lists.isEmpty(recipes)}">
        <tr>
            <th>Description</th>
            <th>Difficulty</th>
            <th>Details</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.getDescription()}">Tasty Goodness</td>
            <td th:text="${recipe.getDifficulty()}">HARD</td>
            <td>View</td>
        </tr>
    </table>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>