<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/layout :: head"></th:block>
    <title>Recipes</title>
</head>
<body>
    <th:block th:insert="fragments/layout :: header"></th:block>
    <div class="container">
        <table class="table table-dark table-striped" th:if="${not #lists.isEmpty(recipes)}">
            <tr>
                <th>Description</th>
                <th>Difficulty</th>
                <th></th>
            </tr>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.getDescription()}">Tasty Goodness</td>
                <td th:text="${recipe.getDifficulty()}">HARD</td>
                <td>
                    <a class="btn btn-info" th:href="@{'/recipe/' + ${recipe.getId()} + '/show'}">Detail</a>
                    <a class="btn btn-warning" th:href="@{'/recipe/' + ${recipe.getId()} + '/update'}">Update</a>
                </td>
            </tr>
        </table>
    </div>
    <th:block th:insert="fragments/layout :: footer"></th:block>
</body>
</html>